.case {
    &__img-wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: toRem(1440);
    }

    &__banner {
        max-height: toRem(360);
    }

    &__contacts {}

    &__image {
        max-height: toRem(432);
        border-radius: toRem(8);
        object-fit: cover;
    }

    &__objective {}

    &__objective-title {
        font-size: toRem(24);
        line-height: toRem(33.6);
        font-weight: 600;
    }

    &__objective-description {
        font-size: toRem(18);
        line-height: toRem(25.2);
    }

    &__actions {
        gap: toRem(8);
        flex-direction: column;
        display: flex;
    }

    &__actions-title {
        font-size: toRem(24);
        font-weight: 600;
        line-height: toRem(33.6);
    }

    &__actions-list {}

    &__actions-item {
        font-size: toRem(18);
        line-height: toRem(25.2);
    }

    &__services-list {}

    ul li {
        margin-left: toRem(20);
        list-style: disc;
        font-size: toRem(18);
    }

    &__services-item {}

    &__slider {}

    &__slide {}
}

.ibg {}

.contacts {
    display: flex;
    gap: toRem(34);
    flex-direction: column;

    &__title {
        font-size: toRem(40);
        font-weight: 700;
        line-height: toRem(56);
        color: #249C6B;
        padding-top: toRem(100);
    }

    &__section {
        display: flex;
        gap: toRem(8);
        flex-direction: column;
    }

    &__subtitle {
        font-size: toRem(24);
        font-weight: 600;
        line-height: toRem(33.6);
    }

    &__list {}

    &__item {
        list-style: disc;
        font-size: toRem(18);
        line-height: toRem(25.2);
        margin-left: toRem(20);
    }

    &__description {
        font-size: toRem(18);
        line-height: toRem(25.2);
    }
}

.splide {

    &__track {}

    &__list {}

    &__slide {}

    &__arrows {}

    &__arrow {}

    &__arrow--prev {}

    &__pagination {}

    &__arrow--next {}
}