@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================

@import url("https://fonts.googleapis.com/css?family=Lato:regular,600,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@800&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');


// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Налаштування шаблону ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "Lato", sans-serif;
$fontSize: toRem(18); // де 14(px) - розмір шрифту за замовчуванням з макету

// Основні кольори
$mainColor: #000; // Колір шрифту за замовчуванням
$accent: #2f7f5f;
// Палітра кольорів
// @import "base/colors-palette";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1344;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;

// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поїнти
$pc: toEm(
  $containerWidth
); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: toEm(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: toEm(767.98); // Телефони L
$mobileSmall: toEm(479.98); // Телефони S

// Тип адаптива:
// 1 = чуйність (у контейнера немає брейкпоінтів),
// 2 = по брейк-поїнт (контейнер змінює свою ширину по брейк-поїнт)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
  // Скролл заблоковано
  .lock & {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
  // Сайт завантажений
  .loaded & {
  }
}
// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  // Притискаємо footer
  > main {
    flex: 1 1 auto;
  }
  // Фікс для слайдерів
  > * {
    min-width: 0;
  }
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.
// Сніппет (HTML): cnt

@if ($responsiveType==1) {
  // Чуйна
  [class*="__container"] {
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      @if ($maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      } @else {
        @include adaptiveValue(
          "padding-left",
          math.div($containerPadding, 2),
          15
        );
        @include adaptiveValue(
          "padding-right",
          math.div($containerPadding, 2),
          15
        );
      }
    }
  }
} @else {
  // Брейк-поїнтами
  [class*="__container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: toRem($containerWidth);
    } @else {
      @if ($containerPadding>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
    @media (max-width: $pc) {
      max-width: toRem(970);
    }
    @media (max-width: $tablet) {
      max-width: toRem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 toRem(math.div($containerPadding, 2));
      }
    }
  }
}
[class*="__grid-container"] {
  max-width: toRem(1440);
  margin: 0 auto;
  @include gridContainer();
}
// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "footer";

// Підключення стилів окремих сторінок
@import "home";
@import "catalog";
@import "product";
@import "checkout";
@import "account";
@import "comparison";
@import "news";
@import "equipment";
@import "404";
@import "about-us";
@import "contacts";
@import "brands";
@import "brand-page";
@import "vacancy";

.wrapper {
  @media (max-width: $mobile) {
    padding-bottom: toRem(54.8);
  }
}
.page--gray {
  background-color: #ebebec;
}
